set_location IN_MUX_bfv_3_25_0_ 3 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_26_0_ 3 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_27_0_ 3 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_28_0_ 3 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_29_0_ 3 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_30_0_ 3 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_29_0_ 2 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_30_0_ 2 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_29_0_ 1 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_30_0_ 1 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_25_0_ 1 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_26_0_ 1 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_27_0_ 1 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_28_0_ 1 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_26_0_ 2 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_27_0_ 2 27 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 2 25 7 #SB_LUT4
set_location un34_r_val_0_cry_10_THRU_LUT4_0 2 27 2 #SB_LUT4
set_location un33_r_val_cry_8_THRU_LUT4_0 3 26 1 #SB_LUT4
set_location un33_r_val_cry_7_THRU_LUT4_0 3 26 0 #SB_LUT4
set_location un33_r_val_cry_6_THRU_LUT4_0 3 25 7 #SB_LUT4
set_location un33_r_val_cry_5_THRU_LUT4_0 3 25 6 #SB_LUT4
set_location un33_r_val_cry_4_THRU_LUT4_0 3 25 5 #SB_LUT4
set_location un33_r_val_cry_3_THRU_LUT4_0 3 25 4 #SB_LUT4
set_location un33_r_val_cry_2_THRU_LUT4_0 3 25 3 #SB_LUT4
set_location un33_r_val_cry_1_THRU_LUT4_0 3 25 2 #SB_LUT4
set_location un33_r_val_cry_10_THRU_LUT4_0 3 26 3 #SB_LUT4
set_location un33_r_val_cry_0_THRU_LUT4_0 3 25 1 #SB_LUT4
set_location pwm_r_THRU_LUT4_0 3 28 4 #SB_LUT4
set_location pwm_g_THRU_LUT4_0 2 30 4 #SB_LUT4
set_location pwm_b_THRU_LUT4_0 3 30 4 #SB_LUT4
set_location pwm_g_1_cry_0_c 2 29 0 #SB_CARRY
set_location un34_r_val_0_cry_4_c 2 26 3 #SB_CARRY
set_location pwm_b_1_cry_9_c_RNO 3 30 7 #SB_LUT4
set_location ctr_RNO[27] 1 28 3 #SB_LUT4
set_location ctr_RNO[2] 1 25 2 #SB_LUT4
set_location ctr[30] 1 28 6 #SB_DFF
set_location ctr[19] 1 27 3 #SB_DFF
set_location pwm_r_1_cry_6_c_RNO_0 4 26 0 #SB_LUT4
set_location pwm_ctr_cry_c[2] 1 29 2 #SB_CARRY
set_location pwm_ctr[9] 1 30 1 #SB_DFF
set_location ctr_cry_c[23] 1 27 7 #SB_CARRY
set_location ctr[25] 1 28 1 #SB_DFF
set_location pwm_r_1_cry_4_c_RNO 3 26 6 #SB_LUT4
set_location pwm_r_1_cry_4_c 3 27 4 #SB_CARRY
set_location un34_r_val_0_cry_1_c_RNIK0DV 2 26 1 #SB_LUT4
set_location pwm_b_1_cry_9_c_RNO_0 3 30 6 #SB_LUT4
set_location pwm_b_1_cry_3_c_RNO 2 27 7 #SB_LUT4
set_location pwm_b_1_cry_1_c_RNO_0 2 28 6 #SB_LUT4
set_location ctr_cry_c[3] 1 25 3 #SB_CARRY
set_location ctr_cry_c[26] 1 28 2 #SB_CARRY
set_location ctr_RNO[19] 1 27 3 #SB_LUT4
set_location ctr[22] 1 27 6 #SB_DFF
set_location pwm_r_1_cry_5_c_RNO 2 27 5 #SB_LUT4
set_location pwm_r_1_cry_5_c 3 27 5 #SB_CARRY
set_location pwm_g_1_cry_4_c_inv 2 29 4 #SB_LUT4
set_location ctr_RNO[8] 1 26 0 #SB_LUT4
set_location un34_r_val_0_cry_1_c 2 26 0 #SB_CARRY
set_location un33_r_val_cry_10_c 3 26 2 #SB_CARRY
set_location pwm_g_1_cry_5_c 2 29 5 #SB_CARRY
set_location pwm_ctr_RNO[2] 1 29 2 #SB_LUT4
set_location pwm_ctr_cry_c[8] 1 30 0 #SB_CARRY
set_location pwm_b_1_cry_8_c_RNO 2 30 6 #SB_LUT4
set_location pwm_b_1_cry_3_c 3 29 3 #SB_CARRY
set_location ctr_cry_c[14] 1 26 6 #SB_CARRY
set_location ctr[11] 1 26 3 #SB_DFF
set_location pwm_r_1_cry_1_c_RNO_0 2 25 1 #SB_LUT4
set_location ctr[5] 1 25 5 #SB_DFF
set_location pwm_r_1_cry_7_c 3 27 7 #SB_CARRY
set_location pwm_ctr_RNO[5] 1 29 5 #SB_LUT4
set_location pwm_ctr[1] 1 29 1 #SB_DFF
set_location un34_r_val_0_cry_5_c_RNI0HHV 2 26 5 #SB_LUT4
set_location pwm_r_1_cry_2_c_RNO 4 25 1 #SB_LUT4
set_location ctr_cry_c[9] 1 26 1 #SB_CARRY
set_location ctr_cry_c[11] 1 26 3 #SB_CARRY
set_location ctr_RNO[20] 1 27 4 #SB_LUT4
set_location ctr_RNO[17] 1 27 1 #SB_LUT4
set_location ctr[14] 1 26 6 #SB_DFF
set_location pwm_r_1_cry_0_c 3 27 0 #SB_CARRY
set_location ctr[2] 1 25 2 #SB_DFF
set_location pwm_r_1_cry_9_c_RNO 3 28 6 #SB_LUT4
set_location pwm_r_1_cry_8_c 3 28 0 #SB_CARRY
set_location pwm_g_1_cry_6_c_inv 2 29 6 #SB_LUT4
set_location pwm_g_1_cry_6_c 2 29 6 #SB_CARRY
set_location pwm_ctr_cry_c[7] 1 29 7 #SB_CARRY
set_location pwm_ctr[4] 1 29 4 #SB_DFF
set_location un34_r_val_0_cry_10_c 2 27 1 #SB_CARRY
set_location ctr_RNO[25] 1 28 1 #SB_LUT4
set_location ctr_RNO[0] 1 25 0 #SB_LUT4
set_location un34_r_val_0_cry_7_c_RNI6PJV 2 26 7 #SB_LUT4
set_location pwm_r_1_cry_1_c 3 27 1 #SB_CARRY
set_location pwm_r_1_cry_11_c_RNO 4 27 1 #SB_LUT4
set_location pwm_g_1_cry_1_c 2 29 1 #SB_CARRY
set_location pwm_b_1_cry_6_c 3 29 6 #SB_CARRY
set_location pwm_g_1_cry_0_c_inv 2 29 0 #SB_LUT4
set_location pwm_ctr_cry_c[0] 1 29 0 #SB_CARRY
set_location ctr_cry_c[6] 1 25 6 #SB_CARRY
set_location ctr_cry_c[25] 1 28 1 #SB_CARRY
set_location ctr[27] 1 28 3 #SB_DFF
set_location ctr_RNO[5] 1 25 5 #SB_LUT4
set_location pwm_r_1_cry_11_c 3 28 3 #SB_CARRY
set_location pwm_r_1_cry_3_c 3 27 3 #SB_CARRY
set_location pwm_g 2 30 4 #SB_DFF
set_location ctr_cry_c[28] 1 28 4 #SB_CARRY
set_location ctr_cry_c[1] 1 25 1 #SB_CARRY
set_location ctr_RNO[30] 1 28 6 #SB_LUT4
set_location pwm_b_1_cry_2_c_RNO 4 29 1 #SB_LUT4
set_location pwm_r_1_cry_1_c_RNO 2 25 2 #SB_LUT4
set_location pwm_r_1_cry_10_c 3 28 2 #SB_CARRY
set_location pwm_ctr_RNO[0] 1 29 0 #SB_LUT4
set_location pwm_ctr[11] 1 30 3 #SB_DFF
set_location pwm_b_1_cry_10_c_RNO 3 28 7 #SB_LUT4
set_location un34_r_val_0_cry_5_c 2 26 4 #SB_CARRY
set_location pwm_r_1_cry_3_c_RNO 4 25 4 #SB_LUT4
set_location pwm_ctr_cry_c[10] 1 30 2 #SB_CARRY
set_location pwm_b_1_cry_5_c_RNO 4 26 5 #SB_LUT4
set_location pwm_b 3 30 4 #SB_DFF
set_location ctr_cry_c[16] 1 27 0 #SB_CARRY
set_location ctr_RNO[12] 1 26 4 #SB_LUT4
set_location ctr[29] 1 28 5 #SB_DFF
set_location ctr[13] 1 26 5 #SB_DFF
set_location pwm_r_1_cry_8_c_RNO_0 4 27 3 #SB_LUT4
set_location pwm_b_1_cry_10_c 3 30 2 #SB_CARRY
set_location ctr[7] 1 25 7 #SB_DFF
set_location un33_r_val_cry_7_c 3 25 7 #SB_CARRY
set_location pwm_ctr[3] 1 29 3 #SB_DFF
set_location ctr_RNIKFG11[28] 2 30 7 #SB_LUT4
set_location pwm_b_1_cry_2_c 3 29 2 #SB_CARRY
set_location ctr_cry_c[13] 1 26 5 #SB_CARRY
set_location ctr_RNO[26] 1 28 2 #SB_LUT4
set_location ctr_RNO[15] 1 26 7 #SB_LUT4
set_location ctr[31] 1 28 7 #SB_DFF
set_location ctr[16] 1 27 0 #SB_DFF
set_location pwm_r_1_cry_6_c 3 27 6 #SB_CARRY
set_location pwm_b_1_cry_1_c_RNO 2 28 7 #SB_LUT4
set_location pwm_r_1_cry_0_c_RNO_0 2 28 2 #SB_LUT4
set_location pwm_ctr_cry_c[5] 1 29 5 #SB_CARRY
set_location pwm_ctr[6] 1 29 6 #SB_DFF
set_location ctr_cry_c[20] 1 27 4 #SB_CARRY
set_location ctr[24] 1 28 0 #SB_DFF
set_location un34_r_val_0_cry_3_c_RNIQ8FV 2 26 3 #SB_LUT4
set_location un33_r_val_cry_9_c 3 26 1 #SB_CARRY
set_location pwm_r_1_cry_9_c_RNO_0 3 28 5 #SB_LUT4
set_location pwm_ctr_RNO[11] 1 30 3 #SB_LUT4
set_location ctr_cry_c[18] 1 27 2 #SB_CARRY
set_location ctr_RNO[6] 1 25 6 #SB_LUT4
set_location ctr_RNIVDLC1[27] 1 30 5 #SB_LUT4
set_location pwm_r_1_cry_10_c_RNO 4 27 7 #SB_LUT4
set_location pwm_g_1_cry_2_c 2 29 2 #SB_CARRY
set_location pwm_ctr_RNO[8] 1 30 0 #SB_LUT4
set_location ctr[9] 1 26 1 #SB_DFF
set_location pwm_r_1_cry_8_c_RNO 4 27 4 #SB_LUT4
set_location ctr_cry_c[4] 1 25 4 #SB_CARRY
set_location ctr_cry_c[27] 1 28 3 #SB_CARRY
set_location ctr[21] 1 27 5 #SB_DFF
set_location un34_r_val_0_cry_6_c_RNI3LIV 2 26 6 #SB_LUT4
set_location pwm_r_1_cry_3_c_RNO_0 4 25 3 #SB_LUT4
set_location pwm_b_1_cry_9_c 3 30 1 #SB_CARRY
set_location pwm_b_1_cry_6_c_RNO_0 4 27 5 #SB_LUT4
set_location pwm_g_1_cry_10_c 2 30 2 #SB_CARRY
set_location pwm_ctr_RNO[3] 1 29 3 #SB_LUT4
set_location un33_r_val_cry_3_c 3 25 3 #SB_CARRY
set_location pwm_b_1_cry_5_c 3 29 5 #SB_CARRY
set_location ctr[4] 1 25 4 #SB_DFF
set_location pwm_g_1_cry_7_c 2 29 7 #SB_CARRY
set_location pwm_g_1_cry_11_c 2 30 3 #SB_CARRY
set_location pwm_ctr_RNO[6] 1 29 6 #SB_LUT4
set_location pwm_b_1_cry_11_c_RNO 2 27 3 #SB_LUT4
set_location pwm_g_1_cry_2_c_inv 2 29 2 #SB_LUT4
set_location ctr_cry_c[10] 1 26 2 #SB_CARRY
set_location ctr_RNO[23] 1 27 7 #SB_LUT4
set_location ctr_RNO[10] 1 26 2 #SB_LUT4
set_location ctr[15] 1 26 7 #SB_DFF
set_location un34_r_val_0_cry_2_c 2 26 1 #SB_CARRY
set_location pwm_r_1_cry_5_c_RNO_0 2 27 4 #SB_LUT4
set_location pwm_b_1_cry_2_c_RNO_0 4 29 0 #SB_LUT4
set_location ctr_RNIP7LC1[24] 4 27 2 #SB_LUT4
set_location ctr_RNILGG11[29] 1 30 7 #SB_LUT4
set_location ctr[1] 1 25 1 #SB_DFF
set_location un33_r_val_cry_0_c 3 25 0 #SB_CARRY
set_location pwm_r_1_cry_4_c_RNO_0 3 26 5 #SB_LUT4
set_location pwm_r 3 28 4 #SB_DFF
set_location pwm_ctr_cry_c[6] 1 29 6 #SB_CARRY
set_location pwm_ctr[5] 1 29 5 #SB_DFF
set_location un34_r_val_0_cry_4_c_RNITCGV 2 26 4 #SB_LUT4
set_location pwm_r_1_cry_7_c_RNO 4 26 7 #SB_LUT4
set_location pwm_b_1_cry_11_c 3 30 3 #SB_CARRY
set_location ctr_RNO[3] 1 25 3 #SB_LUT4
set_location ctr_RNO[24] 1 28 0 #SB_LUT4
set_location ctr[18] 1 27 2 #SB_DFF
set_location un34_r_val_0_cry_8_c_RNI9TKV 2 27 0 #SB_LUT4
set_location un34_r_val_0_cry_2_c_RNIN4EV 2 26 2 #SB_LUT4
set_location pwm_r_1_cry_6_c_RNO 4 26 1 #SB_LUT4
set_location pwm_ctr_cry_c[3] 1 29 3 #SB_CARRY
set_location pwm_ctr[8] 1 30 0 #SB_DFF
set_location pwm_b_1_cry_8_c 3 30 0 #SB_CARRY
set_location pwm_b_1_cry_4_c_RNO_0 4 28 0 #SB_LUT4
set_location ctr_cry_c[7] 1 25 7 #SB_CARRY
set_location ctr_cry_c[22] 1 27 6 #SB_CARRY
set_location ctr_RNIO5KC1[19] 2 28 0 #SB_LUT4
set_location ctr[26] 1 28 2 #SB_DFF
set_location un34_r_val_0_cry_8_c 2 26 7 #SB_CARRY
set_location pwm_g_1_cry_5_c_inv 2 29 5 #SB_LUT4
set_location ctr_RNO[4] 1 25 4 #SB_LUT4
set_location ctr_RNO[29] 1 28 5 #SB_LUT4
set_location pwm_g_1_cry_11_c_inv 2 30 3 #SB_LUT4
set_location pwm_g_1_cry_10_c_inv 2 30 2 #SB_LUT4
set_location pwm_b_1_cry_1_c 3 29 1 #SB_CARRY
set_location ctr_RNIN5LC1[23] 2 25 4 #SB_LUT4
set_location pwm_g_1_cry_1_c_inv 2 29 1 #SB_LUT4
set_location ctr_cry_c[29] 1 28 5 #SB_CARRY
set_location ctr_cry_c[2] 1 25 2 #SB_CARRY
set_location ctr_RNO[31] 1 28 7 #SB_LUT4
set_location ctr_RNO[18] 1 27 2 #SB_LUT4
set_location ctr[23] 1 27 7 #SB_DFF
set_location un33_r_val_cry_5_c 3 25 5 #SB_CARRY
set_location pwm_g_1_cry_3_c 2 29 3 #SB_CARRY
set_location pwm_b_1_cry_0_c_RNO 4 28 7 #SB_LUT4
set_location ctr_RNO[9] 1 26 1 #SB_LUT4
set_location ctr_RNIJ1LC1[21] 2 28 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location un34_r_val_0_cry_6_c 2 26 5 #SB_CARRY
set_location pwm_ctr_RNO[1] 1 29 1 #SB_LUT4
set_location pwm_ctr[10] 1 30 2 #SB_DFF
set_location ctr_RNITBLC1[26] 1 30 6 #SB_LUT4
set_location pwm_ctr_cry_c[9] 1 30 1 #SB_CARRY
set_location ctr_cry_c[15] 1 26 7 #SB_CARRY
set_location ctr_RNO[13] 1 26 5 #SB_LUT4
set_location ctr_RNIM3KC1[18] 2 28 1 #SB_LUT4
set_location ctr[28] 1 28 4 #SB_DFF
set_location ctr[10] 1 26 2 #SB_DFF
set_location un34_r_val_0_cry_3_c 2 26 2 #SB_CARRY
set_location un33_r_val_cry_4_c 3 25 4 #SB_CARRY
set_location pwm_g_1_cry_7_c_inv 2 29 7 #SB_LUT4
set_location pwm_b_1_cry_8_c_RNO_0 2 30 5 #SB_LUT4
set_location ctr[6] 1 25 6 #SB_DFF
set_location pwm_ctr_RNO[4] 1 29 4 #SB_LUT4
set_location pwm_ctr[0] 1 29 0 #SB_DFF
set_location pwm_g_1_cry_3_c_inv 2 29 3 #SB_LUT4
set_location ctr_cry_c[8] 1 26 0 #SB_CARRY
set_location ctr_cry_c[12] 1 26 4 #SB_CARRY
set_location ctr_RNO[21] 1 27 5 #SB_LUT4
set_location ctr_RNO[16] 1 27 0 #SB_LUT4
set_location ctr[17] 1 27 1 #SB_DFF
set_location pwm_g_1_cry_8_c 2 30 0 #SB_CARRY
set_location pwm_b_1_cry_6_c_RNO 4 27 6 #SB_LUT4
set_location pwm_b_1_cry_4_c 3 29 4 #SB_CARRY
set_location ctr_cry_c[30] 1 28 6 #SB_CARRY
set_location ctr_RNIL3LC1[22] 4 29 2 #SB_LUT4
set_location ctr[3] 1 25 3 #SB_DFF
set_location un33_r_val_cry_6_c 3 25 6 #SB_CARRY
set_location pwm_ctr_cry_c[4] 1 29 4 #SB_CARRY
set_location pwm_ctr[7] 1 29 7 #SB_DFF
set_location ctr_cry_c[21] 1 27 5 #SB_CARRY
set_location un34_r_val_0_cry_9_c 2 27 0 #SB_CARRY
set_location pwm_ctr_RNO[10] 1 30 2 #SB_LUT4
set_location ctr_RNO[1] 1 25 1 #SB_LUT4
set_location un33_r_val_cry_1_c 3 25 1 #SB_CARRY
set_location pwm_ctr_RNO[9] 1 30 1 #SB_LUT4
set_location ctr_RNIR9LC1[25] 4 29 4 #SB_LUT4
set_location ctr[8] 1 26 0 #SB_DFF
set_location pwm_r_1_cry_2_c 3 27 2 #SB_CARRY
set_location pwm_g_1_cry_4_c 2 29 4 #SB_CARRY
set_location pwm_ctr_cry_c[1] 1 29 1 #SB_CARRY
set_location pwm_b_1_cry_5_c_RNO_0 4 26 4 #SB_LUT4
set_location ctr_cry_c[5] 1 25 5 #SB_CARRY
set_location ctr_cry_c[24] 1 28 0 #SB_CARRY
set_location ctr[20] 1 27 4 #SB_DFF
set_location un33_r_val_cry_8_c 3 26 0 #SB_CARRY
set_location pwm_r_1_cry_10_c_RNO_0 3 26 2 #SB_LUT4
set_location pwm_b_1_cry_7_c_RNO 4 29 7 #SB_LUT4
set_location pwm_b_1_cry_4_c_RNO 4 28 1 #SB_LUT4
set_location un34_r_val_0_cry_7_c 2 26 6 #SB_CARRY
set_location pwm_b_1_cry_7_c_RNO_0 4 29 6 #SB_LUT4
set_location pwm_b_1_cry_7_c 3 29 7 #SB_CARRY
set_location ctr_RNIHVKC1[22] 2 28 4 #SB_LUT4
set_location pwm_r_1_cry_0_c_RNO 2 28 3 #SB_LUT4
set_location ctr_cry_c[0] 1 25 0 #SB_CARRY
set_location pwm_r_1_cry_7_c_RNO_0 4 26 6 #SB_LUT4
set_location pwm_b_1_cry_0_c 3 29 0 #SB_CARRY
set_location pwm_r_1_cry_2_c_RNO_0 4 25 0 #SB_LUT4
set_location pwm_ctr_RNO[7] 1 29 7 #SB_LUT4
set_location un34_r_val_0_cry_9_c_RNIV0HK 2 27 1 #SB_LUT4
set_location un33_r_val_cry_2_c 3 25 2 #SB_CARRY
set_location pwm_r_1_cry_9_c 3 28 1 #SB_CARRY
set_location pwm_g_1_cry_9_c 2 30 1 #SB_CARRY
set_location ctr_cry_c[17] 1 27 1 #SB_CARRY
set_location ctr_RNO[22] 1 27 6 #SB_LUT4
set_location ctr_RNO[11] 1 26 3 #SB_LUT4
set_location ctr[12] 1 26 4 #SB_DFF
set_location pwm_g_1_cry_8_c_inv 2 30 0 #SB_LUT4
set_location pwm_b_1_cry_3_c_RNO_0 2 27 6 #SB_LUT4
set_location ctr[0] 1 25 0 #SB_DFF
set_location pwm_ctr[2] 1 29 2 #SB_DFF
set_location pwm_r_1_cry_11_c_RNO_0 3 26 4 #SB_LUT4
set_location pwm_g_1_cry_9_c_inv 2 30 1 #SB_LUT4
set_location ctr_RNO[14] 1 26 6 #SB_LUT4
set_location ctr_cry_c[19] 1 27 3 #SB_CARRY
set_location ctr_RNO[7] 1 25 7 #SB_LUT4
set_location ctr_RNO[28] 1 28 4 #SB_LUT4
set_location ctr_RNI7D9M[21] 2 26 0 #SB_LUT4
