set_location ctr_RNI7D9M[21] 2 26 0 # SB_LUT4 (LogicCell: ctr_RNI7D9M[21]_LC_0)
set_location un34_r_val_0_cry_1_c 2 26 0 # SB_CARRY (LogicCell: ctr_RNI7D9M[21]_LC_0)
set_location ctr_RNIHVKC1[22] 2 28 4 # SB_LUT4 (LogicCell: ctr_RNIHVKC1[22]_LC_1)
set_location ctr_RNIJ1LC1[21] 2 28 5 # SB_LUT4 (LogicCell: ctr_RNIJ1LC1[21]_LC_2)
set_location ctr_RNIKFG11[28] 2 30 7 # SB_LUT4 (LogicCell: ctr_RNIKFG11[28]_LC_3)
set_location ctr_RNIL3LC1[22] 4 29 2 # SB_LUT4 (LogicCell: ctr_RNIL3LC1[22]_LC_4)
set_location ctr_RNILGG11[29] 1 30 7 # SB_LUT4 (LogicCell: ctr_RNILGG11[29]_LC_5)
set_location ctr_RNIM3KC1[18] 2 28 1 # SB_LUT4 (LogicCell: ctr_RNIM3KC1[18]_LC_6)
set_location ctr_RNIN5LC1[23] 2 25 4 # SB_LUT4 (LogicCell: ctr_RNIN5LC1[23]_LC_7)
set_location ctr_RNIO5KC1[19] 2 28 0 # SB_LUT4 (LogicCell: ctr_RNIO5KC1[19]_LC_8)
set_location ctr_RNIP7LC1[24] 4 27 2 # SB_LUT4 (LogicCell: ctr_RNIP7LC1[24]_LC_9)
set_location ctr_RNIR9LC1[25] 4 29 4 # SB_LUT4 (LogicCell: ctr_RNIR9LC1[25]_LC_10)
set_location ctr_RNITBLC1[26] 1 30 6 # SB_LUT4 (LogicCell: ctr_RNITBLC1[26]_LC_11)
set_location ctr_RNIVDLC1[27] 1 30 5 # SB_LUT4 (LogicCell: ctr_RNIVDLC1[27]_LC_12)
set_location ctr_RNO[0] 1 25 0 # SB_LUT4 (LogicCell: ctr[0]_LC_13)
set_location ctr[0] 1 25 0 # SB_DFF (LogicCell: ctr[0]_LC_13)
set_location ctr_cry_c[0] 1 25 0 # SB_CARRY (LogicCell: ctr[0]_LC_13)
set_location ctr_RNO[1] 1 25 1 # SB_LUT4 (LogicCell: ctr[1]_LC_14)
set_location ctr[1] 1 25 1 # SB_DFF (LogicCell: ctr[1]_LC_14)
set_location ctr_cry_c[1] 1 25 1 # SB_CARRY (LogicCell: ctr[1]_LC_14)
set_location ctr_RNO[10] 1 26 2 # SB_LUT4 (LogicCell: ctr[10]_LC_15)
set_location ctr[10] 1 26 2 # SB_DFF (LogicCell: ctr[10]_LC_15)
set_location ctr_cry_c[10] 1 26 2 # SB_CARRY (LogicCell: ctr[10]_LC_15)
set_location ctr_RNO[11] 1 26 3 # SB_LUT4 (LogicCell: ctr[11]_LC_16)
set_location ctr[11] 1 26 3 # SB_DFF (LogicCell: ctr[11]_LC_16)
set_location ctr_cry_c[11] 1 26 3 # SB_CARRY (LogicCell: ctr[11]_LC_16)
set_location ctr_RNO[12] 1 26 4 # SB_LUT4 (LogicCell: ctr[12]_LC_17)
set_location ctr[12] 1 26 4 # SB_DFF (LogicCell: ctr[12]_LC_17)
set_location ctr_cry_c[12] 1 26 4 # SB_CARRY (LogicCell: ctr[12]_LC_17)
set_location ctr_RNO[13] 1 26 5 # SB_LUT4 (LogicCell: ctr[13]_LC_18)
set_location ctr[13] 1 26 5 # SB_DFF (LogicCell: ctr[13]_LC_18)
set_location ctr_cry_c[13] 1 26 5 # SB_CARRY (LogicCell: ctr[13]_LC_18)
set_location ctr_RNO[14] 1 26 6 # SB_LUT4 (LogicCell: ctr[14]_LC_19)
set_location ctr[14] 1 26 6 # SB_DFF (LogicCell: ctr[14]_LC_19)
set_location ctr_cry_c[14] 1 26 6 # SB_CARRY (LogicCell: ctr[14]_LC_19)
set_location ctr_RNO[15] 1 26 7 # SB_LUT4 (LogicCell: ctr[15]_LC_20)
set_location ctr[15] 1 26 7 # SB_DFF (LogicCell: ctr[15]_LC_20)
set_location ctr_cry_c[15] 1 26 7 # SB_CARRY (LogicCell: ctr[15]_LC_20)
set_location ctr_RNO[16] 1 27 0 # SB_LUT4 (LogicCell: ctr[16]_LC_21)
set_location ctr[16] 1 27 0 # SB_DFF (LogicCell: ctr[16]_LC_21)
set_location ctr_cry_c[16] 1 27 0 # SB_CARRY (LogicCell: ctr[16]_LC_21)
set_location ctr_RNO[17] 1 27 1 # SB_LUT4 (LogicCell: ctr[17]_LC_22)
set_location ctr[17] 1 27 1 # SB_DFF (LogicCell: ctr[17]_LC_22)
set_location ctr_cry_c[17] 1 27 1 # SB_CARRY (LogicCell: ctr[17]_LC_22)
set_location ctr_RNO[18] 1 27 2 # SB_LUT4 (LogicCell: ctr[18]_LC_23)
set_location ctr[18] 1 27 2 # SB_DFF (LogicCell: ctr[18]_LC_23)
set_location ctr_cry_c[18] 1 27 2 # SB_CARRY (LogicCell: ctr[18]_LC_23)
set_location ctr_RNO[19] 1 27 3 # SB_LUT4 (LogicCell: ctr[19]_LC_24)
set_location ctr[19] 1 27 3 # SB_DFF (LogicCell: ctr[19]_LC_24)
set_location ctr_cry_c[19] 1 27 3 # SB_CARRY (LogicCell: ctr[19]_LC_24)
set_location ctr_RNO[2] 1 25 2 # SB_LUT4 (LogicCell: ctr[2]_LC_25)
set_location ctr[2] 1 25 2 # SB_DFF (LogicCell: ctr[2]_LC_25)
set_location ctr_cry_c[2] 1 25 2 # SB_CARRY (LogicCell: ctr[2]_LC_25)
set_location ctr_RNO[20] 1 27 4 # SB_LUT4 (LogicCell: ctr[20]_LC_26)
set_location ctr[20] 1 27 4 # SB_DFF (LogicCell: ctr[20]_LC_26)
set_location ctr_cry_c[20] 1 27 4 # SB_CARRY (LogicCell: ctr[20]_LC_26)
set_location ctr_RNO[21] 1 27 5 # SB_LUT4 (LogicCell: ctr[21]_LC_27)
set_location ctr[21] 1 27 5 # SB_DFF (LogicCell: ctr[21]_LC_27)
set_location ctr_cry_c[21] 1 27 5 # SB_CARRY (LogicCell: ctr[21]_LC_27)
set_location ctr_RNO[22] 1 27 6 # SB_LUT4 (LogicCell: ctr[22]_LC_28)
set_location ctr[22] 1 27 6 # SB_DFF (LogicCell: ctr[22]_LC_28)
set_location ctr_cry_c[22] 1 27 6 # SB_CARRY (LogicCell: ctr[22]_LC_28)
set_location ctr_RNO[23] 1 27 7 # SB_LUT4 (LogicCell: ctr[23]_LC_29)
set_location ctr[23] 1 27 7 # SB_DFF (LogicCell: ctr[23]_LC_29)
set_location ctr_cry_c[23] 1 27 7 # SB_CARRY (LogicCell: ctr[23]_LC_29)
set_location ctr_RNO[24] 1 28 0 # SB_LUT4 (LogicCell: ctr[24]_LC_30)
set_location ctr[24] 1 28 0 # SB_DFF (LogicCell: ctr[24]_LC_30)
set_location ctr_cry_c[24] 1 28 0 # SB_CARRY (LogicCell: ctr[24]_LC_30)
set_location ctr_RNO[25] 1 28 1 # SB_LUT4 (LogicCell: ctr[25]_LC_31)
set_location ctr[25] 1 28 1 # SB_DFF (LogicCell: ctr[25]_LC_31)
set_location ctr_cry_c[25] 1 28 1 # SB_CARRY (LogicCell: ctr[25]_LC_31)
set_location ctr_RNO[26] 1 28 2 # SB_LUT4 (LogicCell: ctr[26]_LC_32)
set_location ctr[26] 1 28 2 # SB_DFF (LogicCell: ctr[26]_LC_32)
set_location ctr_cry_c[26] 1 28 2 # SB_CARRY (LogicCell: ctr[26]_LC_32)
set_location ctr_RNO[27] 1 28 3 # SB_LUT4 (LogicCell: ctr[27]_LC_33)
set_location ctr[27] 1 28 3 # SB_DFF (LogicCell: ctr[27]_LC_33)
set_location ctr_cry_c[27] 1 28 3 # SB_CARRY (LogicCell: ctr[27]_LC_33)
set_location ctr_RNO[28] 1 28 4 # SB_LUT4 (LogicCell: ctr[28]_LC_34)
set_location ctr[28] 1 28 4 # SB_DFF (LogicCell: ctr[28]_LC_34)
set_location ctr_cry_c[28] 1 28 4 # SB_CARRY (LogicCell: ctr[28]_LC_34)
set_location ctr_RNO[29] 1 28 5 # SB_LUT4 (LogicCell: ctr[29]_LC_35)
set_location ctr[29] 1 28 5 # SB_DFF (LogicCell: ctr[29]_LC_35)
set_location ctr_cry_c[29] 1 28 5 # SB_CARRY (LogicCell: ctr[29]_LC_35)
set_location ctr_RNO[3] 1 25 3 # SB_LUT4 (LogicCell: ctr[3]_LC_36)
set_location ctr[3] 1 25 3 # SB_DFF (LogicCell: ctr[3]_LC_36)
set_location ctr_cry_c[3] 1 25 3 # SB_CARRY (LogicCell: ctr[3]_LC_36)
set_location ctr_RNO[30] 1 28 6 # SB_LUT4 (LogicCell: ctr[30]_LC_37)
set_location ctr[30] 1 28 6 # SB_DFF (LogicCell: ctr[30]_LC_37)
set_location ctr_cry_c[30] 1 28 6 # SB_CARRY (LogicCell: ctr[30]_LC_37)
set_location ctr_RNO[31] 1 28 7 # SB_LUT4 (LogicCell: ctr[31]_LC_38)
set_location ctr[31] 1 28 7 # SB_DFF (LogicCell: ctr[31]_LC_38)
set_location ctr_RNO[4] 1 25 4 # SB_LUT4 (LogicCell: ctr[4]_LC_39)
set_location ctr[4] 1 25 4 # SB_DFF (LogicCell: ctr[4]_LC_39)
set_location ctr_cry_c[4] 1 25 4 # SB_CARRY (LogicCell: ctr[4]_LC_39)
set_location ctr_RNO[5] 1 25 5 # SB_LUT4 (LogicCell: ctr[5]_LC_40)
set_location ctr[5] 1 25 5 # SB_DFF (LogicCell: ctr[5]_LC_40)
set_location ctr_cry_c[5] 1 25 5 # SB_CARRY (LogicCell: ctr[5]_LC_40)
set_location ctr_RNO[6] 1 25 6 # SB_LUT4 (LogicCell: ctr[6]_LC_41)
set_location ctr[6] 1 25 6 # SB_DFF (LogicCell: ctr[6]_LC_41)
set_location ctr_cry_c[6] 1 25 6 # SB_CARRY (LogicCell: ctr[6]_LC_41)
set_location ctr_RNO[7] 1 25 7 # SB_LUT4 (LogicCell: ctr[7]_LC_42)
set_location ctr[7] 1 25 7 # SB_DFF (LogicCell: ctr[7]_LC_42)
set_location ctr_cry_c[7] 1 25 7 # SB_CARRY (LogicCell: ctr[7]_LC_42)
set_location ctr_RNO[8] 1 26 0 # SB_LUT4 (LogicCell: ctr[8]_LC_43)
set_location ctr[8] 1 26 0 # SB_DFF (LogicCell: ctr[8]_LC_43)
set_location ctr_cry_c[8] 1 26 0 # SB_CARRY (LogicCell: ctr[8]_LC_43)
set_location ctr_RNO[9] 1 26 1 # SB_LUT4 (LogicCell: ctr[9]_LC_44)
set_location ctr[9] 1 26 1 # SB_DFF (LogicCell: ctr[9]_LC_44)
set_location ctr_cry_c[9] 1 26 1 # SB_CARRY (LogicCell: ctr[9]_LC_44)
set_location pwm_b_1_cry_0_c_RNO 4 28 7 # SB_LUT4 (LogicCell: pwm_b_1_cry_0_c_RNO_LC_45)
set_location pwm_b_1_cry_10_c_RNO 3 28 7 # SB_LUT4 (LogicCell: pwm_b_1_cry_10_c_RNO_LC_46)
set_location pwm_b_1_cry_11_c_RNO 2 27 3 # SB_LUT4 (LogicCell: pwm_b_1_cry_11_c_RNO_LC_47)
set_location pwm_b_1_cry_1_c_RNO 2 28 7 # SB_LUT4 (LogicCell: pwm_b_1_cry_1_c_RNO_LC_48)
set_location pwm_b_1_cry_1_c_RNO_0 2 28 6 # SB_LUT4 (LogicCell: pwm_b_1_cry_1_c_RNO_0_LC_49)
set_location pwm_b_1_cry_2_c_RNO 4 29 1 # SB_LUT4 (LogicCell: pwm_b_1_cry_2_c_RNO_LC_50)
set_location pwm_b_1_cry_2_c_RNO_0 4 29 0 # SB_LUT4 (LogicCell: pwm_b_1_cry_2_c_RNO_0_LC_51)
set_location pwm_b_1_cry_3_c_RNO 2 27 7 # SB_LUT4 (LogicCell: pwm_b_1_cry_3_c_RNO_LC_52)
set_location pwm_b_1_cry_3_c_RNO_0 2 27 6 # SB_LUT4 (LogicCell: pwm_b_1_cry_3_c_RNO_0_LC_53)
set_location pwm_b_1_cry_4_c_RNO 4 28 1 # SB_LUT4 (LogicCell: pwm_b_1_cry_4_c_RNO_LC_54)
set_location pwm_b_1_cry_4_c_RNO_0 4 28 0 # SB_LUT4 (LogicCell: pwm_b_1_cry_4_c_RNO_0_LC_55)
set_location pwm_b_1_cry_5_c_RNO 4 26 5 # SB_LUT4 (LogicCell: pwm_b_1_cry_5_c_RNO_LC_56)
set_location pwm_b_1_cry_5_c_RNO_0 4 26 4 # SB_LUT4 (LogicCell: pwm_b_1_cry_5_c_RNO_0_LC_57)
set_location pwm_b_1_cry_6_c_RNO 4 27 6 # SB_LUT4 (LogicCell: pwm_b_1_cry_6_c_RNO_LC_58)
set_location pwm_b_1_cry_6_c_RNO_0 4 27 5 # SB_LUT4 (LogicCell: pwm_b_1_cry_6_c_RNO_0_LC_59)
set_location pwm_b_1_cry_7_c_RNO 4 29 7 # SB_LUT4 (LogicCell: pwm_b_1_cry_7_c_RNO_LC_60)
set_location pwm_b_1_cry_7_c_RNO_0 4 29 6 # SB_LUT4 (LogicCell: pwm_b_1_cry_7_c_RNO_0_LC_61)
set_location pwm_b_1_cry_8_c_RNO 2 30 6 # SB_LUT4 (LogicCell: pwm_b_1_cry_8_c_RNO_LC_62)
set_location pwm_b_1_cry_8_c_RNO_0 2 30 5 # SB_LUT4 (LogicCell: pwm_b_1_cry_8_c_RNO_0_LC_63)
set_location pwm_b_1_cry_9_c_RNO 3 30 7 # SB_LUT4 (LogicCell: pwm_b_1_cry_9_c_RNO_LC_64)
set_location pwm_b_1_cry_9_c_RNO_0 3 30 6 # SB_LUT4 (LogicCell: pwm_b_1_cry_9_c_RNO_0_LC_65)
set_location pwm_ctr_RNO[0] 1 29 0 # SB_LUT4 (LogicCell: pwm_ctr[0]_LC_66)
set_location pwm_ctr[0] 1 29 0 # SB_DFF (LogicCell: pwm_ctr[0]_LC_66)
set_location pwm_ctr_cry_c[0] 1 29 0 # SB_CARRY (LogicCell: pwm_ctr[0]_LC_66)
set_location pwm_ctr_RNO[1] 1 29 1 # SB_LUT4 (LogicCell: pwm_ctr[1]_LC_67)
set_location pwm_ctr[1] 1 29 1 # SB_DFF (LogicCell: pwm_ctr[1]_LC_67)
set_location pwm_ctr_cry_c[1] 1 29 1 # SB_CARRY (LogicCell: pwm_ctr[1]_LC_67)
set_location pwm_ctr_RNO[10] 1 30 2 # SB_LUT4 (LogicCell: pwm_ctr[10]_LC_68)
set_location pwm_ctr[10] 1 30 2 # SB_DFF (LogicCell: pwm_ctr[10]_LC_68)
set_location pwm_ctr_cry_c[10] 1 30 2 # SB_CARRY (LogicCell: pwm_ctr[10]_LC_68)
set_location pwm_ctr_RNO[11] 1 30 3 # SB_LUT4 (LogicCell: pwm_ctr[11]_LC_69)
set_location pwm_ctr[11] 1 30 3 # SB_DFF (LogicCell: pwm_ctr[11]_LC_69)
set_location pwm_ctr_RNO[2] 1 29 2 # SB_LUT4 (LogicCell: pwm_ctr[2]_LC_70)
set_location pwm_ctr[2] 1 29 2 # SB_DFF (LogicCell: pwm_ctr[2]_LC_70)
set_location pwm_ctr_cry_c[2] 1 29 2 # SB_CARRY (LogicCell: pwm_ctr[2]_LC_70)
set_location pwm_ctr_RNO[3] 1 29 3 # SB_LUT4 (LogicCell: pwm_ctr[3]_LC_71)
set_location pwm_ctr[3] 1 29 3 # SB_DFF (LogicCell: pwm_ctr[3]_LC_71)
set_location pwm_ctr_cry_c[3] 1 29 3 # SB_CARRY (LogicCell: pwm_ctr[3]_LC_71)
set_location pwm_ctr_RNO[4] 1 29 4 # SB_LUT4 (LogicCell: pwm_ctr[4]_LC_72)
set_location pwm_ctr[4] 1 29 4 # SB_DFF (LogicCell: pwm_ctr[4]_LC_72)
set_location pwm_ctr_cry_c[4] 1 29 4 # SB_CARRY (LogicCell: pwm_ctr[4]_LC_72)
set_location pwm_ctr_RNO[5] 1 29 5 # SB_LUT4 (LogicCell: pwm_ctr[5]_LC_73)
set_location pwm_ctr[5] 1 29 5 # SB_DFF (LogicCell: pwm_ctr[5]_LC_73)
set_location pwm_ctr_cry_c[5] 1 29 5 # SB_CARRY (LogicCell: pwm_ctr[5]_LC_73)
set_location pwm_ctr_RNO[6] 1 29 6 # SB_LUT4 (LogicCell: pwm_ctr[6]_LC_74)
set_location pwm_ctr[6] 1 29 6 # SB_DFF (LogicCell: pwm_ctr[6]_LC_74)
set_location pwm_ctr_cry_c[6] 1 29 6 # SB_CARRY (LogicCell: pwm_ctr[6]_LC_74)
set_location pwm_ctr_RNO[7] 1 29 7 # SB_LUT4 (LogicCell: pwm_ctr[7]_LC_75)
set_location pwm_ctr[7] 1 29 7 # SB_DFF (LogicCell: pwm_ctr[7]_LC_75)
set_location pwm_ctr_cry_c[7] 1 29 7 # SB_CARRY (LogicCell: pwm_ctr[7]_LC_75)
set_location pwm_ctr_RNO[8] 1 30 0 # SB_LUT4 (LogicCell: pwm_ctr[8]_LC_76)
set_location pwm_ctr[8] 1 30 0 # SB_DFF (LogicCell: pwm_ctr[8]_LC_76)
set_location pwm_ctr_cry_c[8] 1 30 0 # SB_CARRY (LogicCell: pwm_ctr[8]_LC_76)
set_location pwm_ctr_RNO[9] 1 30 1 # SB_LUT4 (LogicCell: pwm_ctr[9]_LC_77)
set_location pwm_ctr[9] 1 30 1 # SB_DFF (LogicCell: pwm_ctr[9]_LC_77)
set_location pwm_ctr_cry_c[9] 1 30 1 # SB_CARRY (LogicCell: pwm_ctr[9]_LC_77)
set_location pwm_g_1_cry_0_c_inv 2 29 0 # SB_LUT4 (LogicCell: pwm_g_1_cry_0_c_inv_LC_78)
set_location pwm_g_1_cry_0_c 2 29 0 # SB_CARRY (LogicCell: pwm_g_1_cry_0_c_inv_LC_78)
set_location pwm_g_1_cry_10_c_inv 2 30 2 # SB_LUT4 (LogicCell: pwm_g_1_cry_10_c_inv_LC_79)
set_location pwm_g_1_cry_10_c 2 30 2 # SB_CARRY (LogicCell: pwm_g_1_cry_10_c_inv_LC_79)
set_location pwm_g_1_cry_11_c_inv 2 30 3 # SB_LUT4 (LogicCell: pwm_g_1_cry_11_c_inv_LC_80)
set_location pwm_g_1_cry_11_c 2 30 3 # SB_CARRY (LogicCell: pwm_g_1_cry_11_c_inv_LC_80)
set_location pwm_g_1_cry_1_c_inv 2 29 1 # SB_LUT4 (LogicCell: pwm_g_1_cry_1_c_inv_LC_81)
set_location pwm_g_1_cry_1_c 2 29 1 # SB_CARRY (LogicCell: pwm_g_1_cry_1_c_inv_LC_81)
set_location pwm_g_1_cry_2_c_inv 2 29 2 # SB_LUT4 (LogicCell: pwm_g_1_cry_2_c_inv_LC_82)
set_location pwm_g_1_cry_2_c 2 29 2 # SB_CARRY (LogicCell: pwm_g_1_cry_2_c_inv_LC_82)
set_location pwm_g_1_cry_3_c_inv 2 29 3 # SB_LUT4 (LogicCell: pwm_g_1_cry_3_c_inv_LC_83)
set_location pwm_g_1_cry_3_c 2 29 3 # SB_CARRY (LogicCell: pwm_g_1_cry_3_c_inv_LC_83)
set_location pwm_g_1_cry_4_c_inv 2 29 4 # SB_LUT4 (LogicCell: pwm_g_1_cry_4_c_inv_LC_84)
set_location pwm_g_1_cry_4_c 2 29 4 # SB_CARRY (LogicCell: pwm_g_1_cry_4_c_inv_LC_84)
set_location pwm_g_1_cry_5_c_inv 2 29 5 # SB_LUT4 (LogicCell: pwm_g_1_cry_5_c_inv_LC_85)
set_location pwm_g_1_cry_5_c 2 29 5 # SB_CARRY (LogicCell: pwm_g_1_cry_5_c_inv_LC_85)
set_location pwm_g_1_cry_6_c_inv 2 29 6 # SB_LUT4 (LogicCell: pwm_g_1_cry_6_c_inv_LC_86)
set_location pwm_g_1_cry_6_c 2 29 6 # SB_CARRY (LogicCell: pwm_g_1_cry_6_c_inv_LC_86)
set_location pwm_g_1_cry_7_c_inv 2 29 7 # SB_LUT4 (LogicCell: pwm_g_1_cry_7_c_inv_LC_87)
set_location pwm_g_1_cry_7_c 2 29 7 # SB_CARRY (LogicCell: pwm_g_1_cry_7_c_inv_LC_87)
set_location pwm_g_1_cry_8_c_inv 2 30 0 # SB_LUT4 (LogicCell: pwm_g_1_cry_8_c_inv_LC_88)
set_location pwm_g_1_cry_8_c 2 30 0 # SB_CARRY (LogicCell: pwm_g_1_cry_8_c_inv_LC_88)
set_location pwm_g_1_cry_9_c_inv 2 30 1 # SB_LUT4 (LogicCell: pwm_g_1_cry_9_c_inv_LC_89)
set_location pwm_g_1_cry_9_c 2 30 1 # SB_CARRY (LogicCell: pwm_g_1_cry_9_c_inv_LC_89)
set_location pwm_r_1_cry_0_c_RNO 2 28 3 # SB_LUT4 (LogicCell: pwm_r_1_cry_0_c_RNO_LC_90)
set_location pwm_r_1_cry_0_c_RNO_0 2 28 2 # SB_LUT4 (LogicCell: pwm_r_1_cry_0_c_RNO_0_LC_91)
set_location pwm_r_1_cry_10_c_RNO 4 27 7 # SB_LUT4 (LogicCell: pwm_r_1_cry_10_c_RNO_LC_92)
set_location pwm_r_1_cry_10_c_RNO_0 3 26 2 # SB_LUT4 (LogicCell: pwm_r_1_cry_10_c_RNO_0_LC_93)
set_location un33_r_val_cry_10_c 3 26 2 # SB_CARRY (LogicCell: pwm_r_1_cry_10_c_RNO_0_LC_93)
set_location pwm_r_1_cry_11_c_RNO 4 27 1 # SB_LUT4 (LogicCell: pwm_r_1_cry_11_c_RNO_LC_94)
set_location pwm_r_1_cry_11_c_RNO_0 3 26 4 # SB_LUT4 (LogicCell: pwm_r_1_cry_11_c_RNO_0_LC_95)
set_location pwm_r_1_cry_1_c_RNO 2 25 2 # SB_LUT4 (LogicCell: pwm_r_1_cry_1_c_RNO_LC_96)
set_location pwm_r_1_cry_1_c_RNO_0 2 25 1 # SB_LUT4 (LogicCell: pwm_r_1_cry_1_c_RNO_0_LC_97)
set_location pwm_r_1_cry_2_c_RNO 4 25 1 # SB_LUT4 (LogicCell: pwm_r_1_cry_2_c_RNO_LC_98)
set_location pwm_r_1_cry_2_c_RNO_0 4 25 0 # SB_LUT4 (LogicCell: pwm_r_1_cry_2_c_RNO_0_LC_99)
set_location pwm_r_1_cry_3_c_RNO 4 25 4 # SB_LUT4 (LogicCell: pwm_r_1_cry_3_c_RNO_LC_100)
set_location pwm_r_1_cry_3_c_RNO_0 4 25 3 # SB_LUT4 (LogicCell: pwm_r_1_cry_3_c_RNO_0_LC_101)
set_location pwm_r_1_cry_4_c_RNO 3 26 6 # SB_LUT4 (LogicCell: pwm_r_1_cry_4_c_RNO_LC_102)
set_location pwm_r_1_cry_4_c_RNO_0 3 26 5 # SB_LUT4 (LogicCell: pwm_r_1_cry_4_c_RNO_0_LC_103)
set_location pwm_r_1_cry_5_c_RNO 2 27 5 # SB_LUT4 (LogicCell: pwm_r_1_cry_5_c_RNO_LC_104)
set_location pwm_r_1_cry_5_c_RNO_0 2 27 4 # SB_LUT4 (LogicCell: pwm_r_1_cry_5_c_RNO_0_LC_105)
set_location pwm_r_1_cry_6_c_RNO 4 26 1 # SB_LUT4 (LogicCell: pwm_r_1_cry_6_c_RNO_LC_106)
set_location pwm_r_1_cry_6_c_RNO_0 4 26 0 # SB_LUT4 (LogicCell: pwm_r_1_cry_6_c_RNO_0_LC_107)
set_location pwm_r_1_cry_7_c_RNO 4 26 7 # SB_LUT4 (LogicCell: pwm_r_1_cry_7_c_RNO_LC_108)
set_location pwm_r_1_cry_7_c_RNO_0 4 26 6 # SB_LUT4 (LogicCell: pwm_r_1_cry_7_c_RNO_0_LC_109)
set_location pwm_r_1_cry_8_c_RNO 4 27 4 # SB_LUT4 (LogicCell: pwm_r_1_cry_8_c_RNO_LC_110)
set_location pwm_r_1_cry_8_c_RNO_0 4 27 3 # SB_LUT4 (LogicCell: pwm_r_1_cry_8_c_RNO_0_LC_111)
set_location pwm_r_1_cry_9_c_RNO 3 28 6 # SB_LUT4 (LogicCell: pwm_r_1_cry_9_c_RNO_LC_112)
set_location pwm_r_1_cry_9_c_RNO_0 3 28 5 # SB_LUT4 (LogicCell: pwm_r_1_cry_9_c_RNO_0_LC_113)
set_location un34_r_val_0_cry_1_c_RNIK0DV 2 26 1 # SB_LUT4 (LogicCell: un34_r_val_0_cry_1_c_RNIK0DV_LC_114)
set_location un34_r_val_0_cry_2_c 2 26 1 # SB_CARRY (LogicCell: un34_r_val_0_cry_1_c_RNIK0DV_LC_114)
set_location un34_r_val_0_cry_2_c_RNIN4EV 2 26 2 # SB_LUT4 (LogicCell: un34_r_val_0_cry_2_c_RNIN4EV_LC_115)
set_location un34_r_val_0_cry_3_c 2 26 2 # SB_CARRY (LogicCell: un34_r_val_0_cry_2_c_RNIN4EV_LC_115)
set_location un34_r_val_0_cry_3_c_RNIQ8FV 2 26 3 # SB_LUT4 (LogicCell: un34_r_val_0_cry_3_c_RNIQ8FV_LC_116)
set_location un34_r_val_0_cry_4_c 2 26 3 # SB_CARRY (LogicCell: un34_r_val_0_cry_3_c_RNIQ8FV_LC_116)
set_location un34_r_val_0_cry_4_c_RNITCGV 2 26 4 # SB_LUT4 (LogicCell: un34_r_val_0_cry_4_c_RNITCGV_LC_117)
set_location un34_r_val_0_cry_5_c 2 26 4 # SB_CARRY (LogicCell: un34_r_val_0_cry_4_c_RNITCGV_LC_117)
set_location un34_r_val_0_cry_5_c_RNI0HHV 2 26 5 # SB_LUT4 (LogicCell: un34_r_val_0_cry_5_c_RNI0HHV_LC_118)
set_location un34_r_val_0_cry_6_c 2 26 5 # SB_CARRY (LogicCell: un34_r_val_0_cry_5_c_RNI0HHV_LC_118)
set_location un34_r_val_0_cry_6_c_RNI3LIV 2 26 6 # SB_LUT4 (LogicCell: un34_r_val_0_cry_6_c_RNI3LIV_LC_119)
set_location un34_r_val_0_cry_7_c 2 26 6 # SB_CARRY (LogicCell: un34_r_val_0_cry_6_c_RNI3LIV_LC_119)
set_location un34_r_val_0_cry_7_c_RNI6PJV 2 26 7 # SB_LUT4 (LogicCell: un34_r_val_0_cry_7_c_RNI6PJV_LC_120)
set_location un34_r_val_0_cry_8_c 2 26 7 # SB_CARRY (LogicCell: un34_r_val_0_cry_7_c_RNI6PJV_LC_120)
set_location un34_r_val_0_cry_8_c_RNI9TKV 2 27 0 # SB_LUT4 (LogicCell: un34_r_val_0_cry_8_c_RNI9TKV_LC_121)
set_location un34_r_val_0_cry_9_c 2 27 0 # SB_CARRY (LogicCell: un34_r_val_0_cry_8_c_RNI9TKV_LC_121)
set_location un34_r_val_0_cry_9_c_RNIV0HK 2 27 1 # SB_LUT4 (LogicCell: un34_r_val_0_cry_9_c_RNIV0HK_LC_122)
set_location un34_r_val_0_cry_10_c 2 27 1 # SB_CARRY (LogicCell: un34_r_val_0_cry_9_c_RNIV0HK_LC_122)
set_location pwm_b_THRU_LUT4_0 3 30 4 # SB_LUT4 (LogicCell: pwm_b_LC_123)
set_location pwm_b 3 30 4 # SB_DFF (LogicCell: pwm_b_LC_123)
set_location pwm_g_THRU_LUT4_0 2 30 4 # SB_LUT4 (LogicCell: pwm_g_LC_124)
set_location pwm_g 2 30 4 # SB_DFF (LogicCell: pwm_g_LC_124)
set_location pwm_r_THRU_LUT4_0 3 28 4 # SB_LUT4 (LogicCell: pwm_r_LC_125)
set_location pwm_r 3 28 4 # SB_DFF (LogicCell: pwm_r_LC_125)
set_location un33_r_val_cry_0_THRU_LUT4_0 3 25 1 # SB_LUT4 (LogicCell: un33_r_val_cry_0_THRU_LUT4_0_LC_126)
set_location un33_r_val_cry_1_c 3 25 1 # SB_CARRY (LogicCell: un33_r_val_cry_0_THRU_LUT4_0_LC_126)
set_location un33_r_val_cry_10_THRU_LUT4_0 3 26 3 # SB_LUT4 (LogicCell: un33_r_val_cry_10_THRU_LUT4_0_LC_127)
set_location un33_r_val_cry_1_THRU_LUT4_0 3 25 2 # SB_LUT4 (LogicCell: un33_r_val_cry_1_THRU_LUT4_0_LC_128)
set_location un33_r_val_cry_2_c 3 25 2 # SB_CARRY (LogicCell: un33_r_val_cry_1_THRU_LUT4_0_LC_128)
set_location un33_r_val_cry_2_THRU_LUT4_0 3 25 3 # SB_LUT4 (LogicCell: un33_r_val_cry_2_THRU_LUT4_0_LC_129)
set_location un33_r_val_cry_3_c 3 25 3 # SB_CARRY (LogicCell: un33_r_val_cry_2_THRU_LUT4_0_LC_129)
set_location un33_r_val_cry_3_THRU_LUT4_0 3 25 4 # SB_LUT4 (LogicCell: un33_r_val_cry_3_THRU_LUT4_0_LC_130)
set_location un33_r_val_cry_4_c 3 25 4 # SB_CARRY (LogicCell: un33_r_val_cry_3_THRU_LUT4_0_LC_130)
set_location un33_r_val_cry_4_THRU_LUT4_0 3 25 5 # SB_LUT4 (LogicCell: un33_r_val_cry_4_THRU_LUT4_0_LC_131)
set_location un33_r_val_cry_5_c 3 25 5 # SB_CARRY (LogicCell: un33_r_val_cry_4_THRU_LUT4_0_LC_131)
set_location un33_r_val_cry_5_THRU_LUT4_0 3 25 6 # SB_LUT4 (LogicCell: un33_r_val_cry_5_THRU_LUT4_0_LC_132)
set_location un33_r_val_cry_6_c 3 25 6 # SB_CARRY (LogicCell: un33_r_val_cry_5_THRU_LUT4_0_LC_132)
set_location un33_r_val_cry_6_THRU_LUT4_0 3 25 7 # SB_LUT4 (LogicCell: un33_r_val_cry_6_THRU_LUT4_0_LC_133)
set_location un33_r_val_cry_7_c 3 25 7 # SB_CARRY (LogicCell: un33_r_val_cry_6_THRU_LUT4_0_LC_133)
set_location un33_r_val_cry_7_THRU_LUT4_0 3 26 0 # SB_LUT4 (LogicCell: un33_r_val_cry_7_THRU_LUT4_0_LC_134)
set_location un33_r_val_cry_8_c 3 26 0 # SB_CARRY (LogicCell: un33_r_val_cry_7_THRU_LUT4_0_LC_134)
set_location un33_r_val_cry_8_THRU_LUT4_0 3 26 1 # SB_LUT4 (LogicCell: un33_r_val_cry_8_THRU_LUT4_0_LC_135)
set_location un33_r_val_cry_9_c 3 26 1 # SB_CARRY (LogicCell: un33_r_val_cry_8_THRU_LUT4_0_LC_135)
set_location un34_r_val_0_cry_10_THRU_LUT4_0 2 27 2 # SB_LUT4 (LogicCell: un34_r_val_0_cry_10_THRU_LUT4_0_LC_136)
set_location pwm_b_1_cry_0_c 3 29 0 # SB_CARRY (LogicCell: pwm_b_1_cry_0_c_LC_137)
set_location pwm_b_1_cry_10_c 3 30 2 # SB_CARRY (LogicCell: pwm_b_1_cry_10_c_LC_138)
set_location pwm_b_1_cry_11_c 3 30 3 # SB_CARRY (LogicCell: pwm_b_1_cry_11_c_LC_139)
set_location pwm_b_1_cry_1_c 3 29 1 # SB_CARRY (LogicCell: pwm_b_1_cry_1_c_LC_140)
set_location pwm_b_1_cry_2_c 3 29 2 # SB_CARRY (LogicCell: pwm_b_1_cry_2_c_LC_141)
set_location pwm_b_1_cry_3_c 3 29 3 # SB_CARRY (LogicCell: pwm_b_1_cry_3_c_LC_142)
set_location pwm_b_1_cry_4_c 3 29 4 # SB_CARRY (LogicCell: pwm_b_1_cry_4_c_LC_143)
set_location pwm_b_1_cry_5_c 3 29 5 # SB_CARRY (LogicCell: pwm_b_1_cry_5_c_LC_144)
set_location pwm_b_1_cry_6_c 3 29 6 # SB_CARRY (LogicCell: pwm_b_1_cry_6_c_LC_145)
set_location pwm_b_1_cry_7_c 3 29 7 # SB_CARRY (LogicCell: pwm_b_1_cry_7_c_LC_146)
set_location pwm_b_1_cry_8_c 3 30 0 # SB_CARRY (LogicCell: pwm_b_1_cry_8_c_LC_147)
set_location pwm_b_1_cry_9_c 3 30 1 # SB_CARRY (LogicCell: pwm_b_1_cry_9_c_LC_148)
set_location pwm_r_1_cry_0_c 3 27 0 # SB_CARRY (LogicCell: pwm_r_1_cry_0_c_LC_149)
set_location pwm_r_1_cry_10_c 3 28 2 # SB_CARRY (LogicCell: pwm_r_1_cry_10_c_LC_150)
set_location pwm_r_1_cry_11_c 3 28 3 # SB_CARRY (LogicCell: pwm_r_1_cry_11_c_LC_151)
set_location pwm_r_1_cry_1_c 3 27 1 # SB_CARRY (LogicCell: pwm_r_1_cry_1_c_LC_152)
set_location pwm_r_1_cry_2_c 3 27 2 # SB_CARRY (LogicCell: pwm_r_1_cry_2_c_LC_153)
set_location pwm_r_1_cry_3_c 3 27 3 # SB_CARRY (LogicCell: pwm_r_1_cry_3_c_LC_154)
set_location pwm_r_1_cry_4_c 3 27 4 # SB_CARRY (LogicCell: pwm_r_1_cry_4_c_LC_155)
set_location pwm_r_1_cry_5_c 3 27 5 # SB_CARRY (LogicCell: pwm_r_1_cry_5_c_LC_156)
set_location pwm_r_1_cry_6_c 3 27 6 # SB_CARRY (LogicCell: pwm_r_1_cry_6_c_LC_157)
set_location pwm_r_1_cry_7_c 3 27 7 # SB_CARRY (LogicCell: pwm_r_1_cry_7_c_LC_158)
set_location pwm_r_1_cry_8_c 3 28 0 # SB_CARRY (LogicCell: pwm_r_1_cry_8_c_LC_159)
set_location pwm_r_1_cry_9_c 3 28 1 # SB_CARRY (LogicCell: pwm_r_1_cry_9_c_LC_160)
set_location un33_r_val_cry_0_c 3 25 0 # SB_CARRY (LogicCell: un33_r_val_cry_0_c_LC_161)
set_location GND -1 -1 -1 # GND
set_location RGBA_DRIVER 0 31 3 # SB_RGBA_DRV
set_location inthosc 0 31 1 # SB_HFOSC
set_location CONSTANT_ONE_LUT4 2 25 7 # SB_LUT4 (LogicCell: LC_162)
